/* styles/Home.module.css */

.container {
  min-height: calc(100vh - 60px - 80px);
  /* 네비게이션 바와 푸터의 높이만큼 빼서 최소 높이를 설정합니다 */
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.title {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.description {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.inputField {
  border: 1px solid black;
  width: 40vw;
  height: 40px;
  padding: 10px;
  -moz-appearance: textfield;
  margin-right: 10px;
  text-align: center;
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submitButton {
  background-color: rgba(128, 128, 128, 0.473);
  margin-top: 20px; /* 입력란과 거리를 두기 위해 더 큰 여백을 사용합니다 */
  padding: 10px 20px; /* 버튼의 크기를 키웁니다 */
  border-radius: 10px; /* 둥근 모서리를 만듭니다 */
  border: none; /* 버튼의 기본 테두리를 제거합니다 */
  font-size: 16px; /* 버튼의 텍스트 크기를 키웁니다 */
  cursor: pointer;
}

.linkText {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 15px;
  color: #888;
  background-color: #333; /* 배경색을 회색으로 설정 */
  height: 60px; /* 푸터의 높이를 증가 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 20px;
}

.ratingTitle {
  text-align: left; /* 좌측 정렬 */
  font-size: 2rem; /* 폰트 사이즈 증가 */
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.ratingContainer {
  min-height: calc(100vh - 60px - 60px);
  /* 네비게이션 바와 푸터의 높이만큼 빼서 최소 높이를 설정합니다 */
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.tableTitle {
  text-align: center; /* 좌측 정렬 */
  font-size: 2rem; /* 폰트 사이즈 증가 */
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

/* Home.module.css */
.tableWrapper {
  white-space: nowrap;
}
.tableWrapper table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  table-layout: auto;
}

.tableWrapper th {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 12px 15px;
  border: 1px solid #ddd;
  overflow: hidden; /* 셀 내용이 넘칠 경우 숨김 */
  text-overflow: ellipsis; /* 내용이 넘칠 경우 말줄임 표시 (...) */
}

.tableWrapper td {
  color: #333;
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  overflow: hidden; /* 셀 내용이 넘칠 경우 숨김 */
  text-overflow: ellipsis; /* 내용이 넘칠 경우 말줄임 표시 (...) */
}
.tableWrapper .leftAlign {
  text-align: left;
}

.tableWrapper tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableWrapper tr:nth-child(odd) {
  background-color: #fff;
}

.tableWrapper tr:hover {
  background-color: #f1f1f1;
}

.helpContainer {
  min-height: calc(100vh - 60px - 60px);
  /* 네비게이션 바와 푸터의 높이만큼 빼서 최소 높이를 설정합니다 */
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.helpTitle {
  text-align: left; /* 좌측 정렬 */
  font-size: 2rem; /* 폰트 사이즈 증가 */
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.helpDescription {
  text-align: left; /* 좌측 정렬 */
  font-size: 1rem; /* 폰트 사이즈 증가 */
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.textareaWrapper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border: 2px solid #ccc; /* 테두리 설정 */
  background-color: #e0e0e0; /* 배경색 회색 */
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  resize: none; /* 사용자가 텍스트 영역의 크기를 조정할 수 없도록 설정 */
  word-break: break-all; /* 긴 단어를 여러 줄로 나누도록 설정 */
}

.hiddenInput {
  position: absolute;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.aWrapper {
  color: blue;
  text-decoration: none; /* 밑줄 제거 */
}

.aWrapper:hover {
  text-decoration: underline; /* 마우스를 올렸을 때 밑줄 추가 */
}

.main_image {
  width: 40%;
  height: auto; /* 비율 유지 */
}
